
<%@page import="it.eng.rspa.ideas.utils.MyConstants"%>
<portlet:defineObjects />

<!-- toc-wraper left -->
<!-- <div class="row toc-wrapper"> -->


	 <!-- Image -->
	 <div class="image center left-column-image">
	 	<img src="<%=urlImg%>" alt="" class="responsive-img materialboxed">
	 	<div class="sampleText"><liferay-ui:message key="ims.sample-image"/></div>
	 </div>
	 <div class="top-margin"></div>
	
	
	<!-- Eventuale link agli screenshot -->
 <%

 	if((idea.getIdeaStatus().equalsIgnoreCase(MyConstants.IDEA_STATE_IMPLEMENTATION)|| (idea.getIdeaStatus().equals(MyConstants.IDEA_STATE_MONITORING))) 
		&& 
				
		(screenFolderId>0 || (mashups.size()>0  &&  isAuthorOrCoworker))
		) {
	 %>
	 
	<div class="section center-align tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-screenshot-link"/>">	
		 <span id="screenshot" class="sub-heading-item">
		 	<i class="icon-picture"></i>
		 	<a href='<%=screenshots%>'><liferay-ui:message key="screenshots"/></a> 
		 </span>
	</div>
	 <%} %> 
	 
	 
	 
	 
	 <!-- Table of Contents -->
	<div class="section toc hide-on-med-and-down">
		  
		    <div class="col m3 l12">
		      <ul class="section table-of-contents">
		        <li><a href="#introduction"><liferay-ui:message key="ims.introduction"/></a></li> 
		        <li><a href="#structure"><liferay-ui:message key="ims.authors"/></a></li>
		   
		   
		  <% if(challengeId==-1 && isIdeaWithPoi ){%>  
		         <li><a href="#sezgmaps"><liferay-ui:message key="ims.points-of-interest"/></a></li>
		 <%} %>
		   
		   
		   
		        
		 <%if(files.size() > 0){ %>
		         <li><a href="#sezallegati"><liferay-ui:message key="ims.attached-documents"/></a></li>
		 <%} %>
		 
		 
		 
		 
 		<%if((idea.getIdeaStatus().equalsIgnoreCase(MyConstants.IDEA_STATE_IMPLEMENTATION)|| (idea.getIdeaStatus().equals(MyConstants.IDEA_STATE_MONITORING))) 
			&& 
		(screenFolderId>0 || (mashups.size()>0  &&  isAuthorOrCoworker))
		) {
	 	%>
		 		<li><a href="#sezscreenshot"><liferay-ui:message key="ims.contribute"/></a></li>
		 
		<%}   %>
		   
		   
		   
		   
		 <%if( mktEnabled && (  idea.getIdeaStatus().equals(MyConstants.IDEA_STATE_IMPLEMENTATION) || idea.getIdeaStatus().equals(MyConstants.IDEA_STATE_MONITORING)) ) {  %>
		 
		        <li><a href="#artefatti"><liferay-ui:message key="ims.artifacts"/></a></li>
		      
		   <%}   %>
		      
		      
		      
		      
		      
		 <%if((idea.getIdeaStatus().equals(MyConstants.IDEA_STATE_IMPLEMENTATION) || (idea.getIdeaStatus().equals(MyConstants.IDEA_STATE_MONITORING))) && isEnteRiferimento && mktEnabled) {  %>      
		      
		        <li><a href="#associa_arte"><liferay-ui:message key="ims.associate-artifacts"/></a></li>
		  <%}%>
		 
		 
		 
		 
	<%if(currentUser!=null ){
		if (idea.getIdeaStatus().equals(MyConstants.IDEA_STATE_REFINEMENT) && ( isEnteRiferimento || isAuthorOrCoworker )) {
	%>    
		        <li><a href="#sezrequirements"><liferay-ui:message key="ims.requirements"/></a></li>
	<%
		}
	}
%> 
		        <li><a href="#sezcommenti"><liferay-ui:message key="comments"/></a></li>
		        
		        
	  <!-- Suggested Ideas -->
<%
	
		if (suggestedIdeas.size() > 0) {
%>

 			<li><a href="#sezsuggested-idea"><liferay-ui:message key="ims.similar-ideas"/></a></li>
<%
		
	}
%>

<!-- fine Suggested Ideas -->	        
		        
		        
		        
		        
		        
		        
		      </ul>
		    </div>
		    
		  	<div class="supplementaryBackBtn col m3 l12 hide">
		  		<br>
    			<div class="divider bottom-margin"></div>
		  		<a class="waves-effect btn-flat tooltipped"  onClick="history.go(-1);" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.go-back"/>">
	  				<i class="icon-arrow-left left">&nbsp;</i><liferay-ui:message key="back"/>
	  			</a>
		  	</div>
	 </div>
	 
<!-- </div>fine toc-wraper left -->


<script>
$(window).on('load', function(){
	if($(".left-column-image img[src*='-portlet/img/']").length > 0) {
		$('.sampleText').css('display','block');
	}
})

				
$(window).load(function() {
	var scrollStop = $('.toc-wrapper').parent().parent().offset().top;
	
	$(window).on('scroll', function () {
		if($(window).scrollTop() >= scrollStop){
			$(".supplementaryBackBtn").removeClass('hide');
		}else{
			$(".supplementaryBackBtn").addClass('hide');
		}
	});
});				


</script>