

<!-- toc-wraper right -->
		<div class="top-margin"></div>
		
		<h6><liferay-ui:message key="ims.citizen-ratings"/><liferay-ui:icon-help message="ims.tip-citizen-ratings-idea"/></h6>
		<div class="divider"></div>
		<div class="row section center-align">
		
			<div class="col s12 m4 l12 bottom-margin core-color-text text-green ">
		     		<h6 class="weight-5"></h6> 
					<liferay-ui:ratings className="<%= CLSIdea.class.getName() %>" classPK="<%= ideaId %>"/>
	     	</div>

	   	</div>
<!--   fine toc-wraper right -->
 