

<!-- toc-wraper right -->
		<div class="top-margin"></div>
		
		<h6><liferay-ui:message key="ims.citizen-ratings"/><liferay-ui:icon-help message="ims.tip-citizen-ratings-challenge"/></h6>
		<div class="divider"></div>
		<div class="row section center-align">
		    <div class="col s12 l12 bottom-margin core-color-text text-green ">

					<liferay-ui:ratings className="<%= CLSChallenge.class.getName() %>" classPK="<%= challenge.getChallengeId() %>"/>
	     	</div>
		    
	   	</div>
<!--   fine toc-wraper right -->
 