.aui .materialize {
	
	/*Responsive table customs*/	
	table.responsive-table thead {
	    min-width: 45%;
	    max-width: 45%;
	}		
	/*
	table.responsive-table th, 
	table.responsive-table td {
	    min-height: 4.6em !important;
	}
	*/
	
	/*fine*/
			
	tr.openDetails,
	tr.openDetails td {
	  cursor: pointer;
	}
	
	
	table.detailsTable td, 
	table.detailsTable th {
	  padding: 15px 15px;
	  border-radius: 0px;
	}

	.colspanTable{
	  margin: 0px;
	}
	.colspanTable .row {
	  border-bottom: 1px solid #d0d0d0;
	}
	.colspanTable .col {
/* 	  min-height: 50px; */
	  padding: 15px;
/* 	  line-height: 28px; */
	}
	.colspanTable .col.td * {
	  margin: 0;
	}
	
	.colspanTable.compactRow .row {
	  align-items: center;
	  margin: 0 !important;
	}
	.colspanTable.compactRow .selectionCol {
	  padding: 15px 0 0;
	}

	.colspanTable.compactRow .selResult {
	  border: 0 none;
	}
	.colspanTable.compactRow .selResult .col {
	  padding: 0;
	}
	
	/*EDIT*/
	.switch_edit {
	  min-width: 150px;
	}
	
	.text_edit {
	  min-width: 45%;
	}
	
	
	/*Tables*/
	table tr td input.validate {
	  text-align: center;
	}
	
	tr td.openDetailsEval:hover,
	tr td.openIdeaDetails:hover,
	tr td.openDetails:hover {
	  background-color: rgba(111, 175, 218, 0.3);
	  cursor: pointer;
	}

	
	
	/*MOD Materialize*/
	
	/* label color */
   .input-field label {
     color: #232222;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #232222;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #232222;
     box-shadow: 0 1px 0 0 #232222;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #232222;
     box-shadow: 0 1px 0 0 #232222;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #232222;
     box-shadow: 0 1px 0 0 #232222;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #232222;
   }
   
   /*enlarge modal width*/
	.modal#modalReport {
	  width: 90%;
	}

	/* Checkbox Switch*/	
	.switch {
	  min-width: 110px;
	}
}

@media only screen and (max-width: 992px) {
	.aui .materialize {
		
		table.responsive-table th, 
		table.responsive-table td {
		    min-height: 4.6em !important;
		}
		
		#modalEvaluationEdit table.responsive-table th, 
		#modalEvaluationEdit table.responsive-table td {
		    height: 7em;
		}
	
		.colspanTable .col {
		  min-height: 40px;
		}
		
		.colspanTable.compactRow .selResult .col {
/* 		  margin-left: calc(100% - 60%); */
 		  margin-left: calc(45%);
		  padding: 0;
		  text-align: left;
		}

	}
}

@media only screen and (min-width: 993px) {
  .aui .materialize {
  	
  	.container {
	    width: 80%;
	  }
  }
}


/* DOCUMENTATION */

.aui .materialize {
	
	.iconsDiv-3x48 {
	    height: 48px;
	}
	.justCenter {
	    justify-content: center;
	}
	.justEnd{
		justify-content: end;
	}
	
   	.rightArrowWidth{min-width: 3em !important;}
	.singleIconWidth{min-width: 3.8em !important;}
	
	.section{
		ul.custom-list,
		ul.custom-list li {
		    list-style-type: square;
		}
		ul.custom-list li ul,
		ul.custom-list li ul li{
		    list-style-type: circle;
		}
	}

}
	
	@media only screen and (max-width: 992px) {
		.aui .materialize {
		  .med-and-down-AlignCenter{
			    display: flex;
			    justify-content: center;
			}
		}
	}