/* 2 Main Style Microportlet */
  
.le-mie-gare-micro-portlet  {
  
  	.microportlet-img {
	    background-color: transparent;
	    background-image: url("../img/microimgs/lemiegare-center.jpeg");
	    background-repeat: no-repeat;
	    background-size: cover; 
    }

	.allinea {
		float: left;
		padding-right: 4px;
	}
	
	.cruscotto-myIdeaImg {
		max-height: 50px;
		max-width: 50px;
		min-height: 50px;
		min-width: 50px;
		margin: 5px;
		vertical-align: top;
	}
	
	 
	.columns-max .cruscotto-myIdeaImg {
	
		max-height: 60px;
		max-width: 60px;
		min-height: 60px;
		min-width: 60px;
		margin: 10px;
		vertical-align: top;
	}
/*
	.microportlet-img-vertical {
		  background-position: 50% 50%;
		  height: 0em !important;

	}
 	.microportlet-img-horizontal {
	  background-position: 10% 50%;
	  width: 0em !important;
	 
	}
	*/
	.microportlet-wrapper {
	    margin-top: -16px !important;
	}
	
}
	

/* 2 END */


