
/* ------- Marketplace ------- */

.left{float: left;}
.right{float:right;}
.inline{display:inline !important;}
#headerBar{ overflow:hidden;  margin-bottom: 5px; }
#catList{
	list-style:none;
	padding: 0;
	margin: 0;
	overflow: auto;
}
#currentCat{ background: #cac8c8; border-color: #232222 !important; }
#currentCat a{ color: #fff !important; }
.catItem{ display:inline-block; margin: 5px; border-radius: 2px; width: 150px; text-align:center; }
.catItem a{
	padding: 0px 5px; 
	line-height: 28px !important;
	display:block;
}
#main_actions{ list-style: none; margin: 0; padding:0px 0px 2px 0px; overflow: auto; }
#main_actions li{ line-height: 40px; padding: 0; margin:0; text-align: center; float: left; border-left: 1px solid #000; }
#main_actions li:first-child{ border: none; }
#main_actions li a{
	display:block;
	color: #000 !important;
	text-decoration: none;
	padding: 0px 15px;
}
#main_actions li a:hover{
	text-decoration: underline;
}
.searchForm{ padding: 0; overflow:hidden; margin-bottom: 0px !important;}
.searchForm select{
	-moz-appearance: none;
	text-align:left !important;
	text-indent: -1px;
}
.control-group-inline{
	display:inline !important;
}
.storeList{ 
	list-style: none; 
	padding: 0;
	margin: 0 !important;
	
	overflow-x: hidden;
	overflow-y: auto;
}
.storeList li.market_item{ 
	border: 1px solid #ccc;
	float: left; 
	margin: 5px 10px;
	background: #FFFFFF;
	
	width:20%; 
	min-width: 150px;
	max-width: 160px;
	
	max-height:245px;
	
	oveflow: hidden; 
	border-radius: 2px;
	
	transition: background ease-in 0.3s;
	-moz-transition: background ease-in 0.3s;
	-webkit-transition: background ease-in 0.3s;
	-ms-transition: background ease-in 0.3s;
}
.storeList li.market_item:hover{
	background: #f8f8f8;
}
.link_art{
	color: #000 !important;
	text-decoration: none !important;
	display: block;
	padding: 10px;
	height: calc(100% - 20px);
	outline: none;
}
.link_art:hover{
	color: inherit;
	text-decoration: none;
}
.cover_art{
	margin: 0 auto;
	margin-bottom: 5px;
	min-height:144px;
}
.li-item {
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	line-height: 1.5em;
	white-space: nowrap;
	width: 140px;
}
.title_art{ font-size: 1.5em; display:block;}
.provider_art{ font-size: 0.85em; color: #999; font-style: italic; }
.rating_art{ text-align: left; margin:0px; color:#006; padding-left:4px;}
.fa{ margin-left:-4px; }



