
.core-1{

/* 1 Correction styles than the Main Theme Stylish */
	html.aui body[class] #main-content .need-reports-cittadino-portlet.portlet-boundary,
	html.aui body[class] #main-content .need-reports-portlet.portlet-boundary,
	html.aui body[class] #main-content .statistiche-portlet.portlet-boundary,
	html.aui body[class] #main-content .challenge-explorer-portlet.portlet-boundary,
	html.aui body[class] #main-content .idea-explorer-portlet.portlet-boundary,
	html.aui body[class] #main-content .gare-preferite-micro-portlet.portlet-boundary,
	html.aui body[class] #main-content .idee-cui-collaboro-micro-portlet.portlet-boundary,
	html.aui body[class] #main-content .le-mie-idee-micro-portlet.portlet-boundary,
	html.aui body[class] #main-content .le-mie-gare-micro-portlet.portlet-boundary,
	html.aui body[class] #main-content .idee-preferite-micro-portlet.portlet-boundary {
	  
	}
	
	html.aui body[class] .need-reports-cittadino-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .need-reports-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .statistiche-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .challenge-explorer-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .idea-explorer-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .gare-preferite-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .idee-cui-collaboro-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .idee-preferite-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .le-mie-idee-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .le-mie-gare-micro-portlet .portlet-topper menu.portlet-topper-toolbar {
	  
	}
	html.aui body[class] .columns-max .need-reports-cittadino-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .need-reports-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .statistiche-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .challenge-explorer-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .idea-explorer-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .gare-preferite-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .idee-cui-collaboro-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .idee-preferite-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .le-mie-idee-micro-portlet .portlet-topper menu.portlet-topper-toolbar,
	html.aui body[class] .columns-max .le-mie-gare-micro-portlet .portlet-topper menu.portlet-topper-toolbar {
	 
	}
	
	html.aui body[class] .need-reports-cittadino-portlet section.portlet,
	html.aui body[class] .need-reports-portlet section.portlet,
	html.aui body[class] .statistiche-portlet section.portlet,
	html.aui body[class] .challenge-explorer-portlet section.portlet,
	html.aui body[class] .idea-explorer-portlet section.portlet,
	html.aui body[class] .gare-preferite-micro-portlet section.portlet,
	html.aui body[class] .idee-cui-collaboro-micro-portlet section.portlet,
	html.aui body[class] .idee-preferite-micro-portlet section.portlet,
	html.aui body[class] .le-mie-idee-micro-portlet section.portlet,
	html.aui body[class] .le-mie-gare-micro-portlet section.portlet {
	  
	}
	html.aui body[class] .need-reports-portlet .portlet-topper,
	html.aui body[class] .need-reports-cittadino-portlet .portlet-topper,
	html.aui body[class] .statistiche-portlet .portlet-topper,
	html.aui body[class] .challenge-explorer-portlet .portlet-topper,
	html.aui body[class] .idea-explorer-portlet .portlet-topper,
	html.aui body[class] .gare-preferite-micro-portlet .portlet-topper,
	html.aui body[class] .idee-cui-collaboro-micro-portlet .portlet-topper,
	html.aui body[class] .idee-preferite-micro-portlet .portlet-topper,
	html.aui body[class] .le-mie-idee-micro-portlet .portlet-topper,
	html.aui body[class] .le-mie-gare-micro-portlet .portlet-topper {
	  
	}
	
	html.aui body[class] .need-reports-portlet .portlet-content,
	html.aui body[class] .need-reports-cittadino-portlet .portlet-content,
	html.aui body[class] .statistiche-portlet .portlet-content,
	html.aui body[class] .challenge-explorer-portlet .portlet-content,
	html.aui body[class] .idea-explorer-portlet .portlet-content,
	html.aui body[class] .gare-preferite-micro-portlet .portlet-content,
	html.aui body[class] .idee-cui-collaboro-micro-portlet .portlet-content,
	html.aui body[class] .idee-preferite-micro-portlet .portlet-content,
	html.aui body[class] .le-mie-idee-micro-portlet .portlet-content,
	html.aui body[class] .le-mie-gare-micro-portlet .portlet-content {
	  
	}

/* 1 END*/
	
	
/* 2 Main Style Microportlet */
.need-reports-cittadino-portlet,
.need-reports-portlet,
.statistiche-portlet,
.challenge-explorer-portlet,
.idea-explorer-portlet,
.gare-preferite-micro-portlet,
.idee-cui-collaboro-micro-portlet,
.idee-preferite-micro-portlet,
.le-mie-idee-micro-portlet,
.le-mie-gare-micro-portlet {
	
	
	.box-wrap {
	}
	
	.box-wrap-horizontal {
	}
	.box-wrap-vertical {
	}

	/*EXTERNAL ALIGN Horizontal*/
	
	.box-1-horizontal {
	}
	
	.box-2-horizontal {
	}
	
	
	/*INNNER VERTICAL ALIGN*/
	
	.box-1-vertical {
	}
	
	.box-2-vertical {
	}
	
	.box-3-vertical {
	}

	/* Header Bar */
	.portlet-topper {
	
	}

	.btn-group {
	}
	.icon-cog {
	}
	
	.portlet-title-text {
/* 	  display: none; */
	}
	.portlet-title {
/* 	  display: none; */
	}
	
	 /* IMAGE */
 	
 	.microportlet-img {
/* 	  background-color: transparent; */
/* 	  background-image: url("../img/microimgs/left-img.jpeg"); */
/* 	  background-repeat: no-repeat; */
/* 	  background-size: cover; */
	  
/* 	  background: #fcba79 url(../imgs/center-img.jpeg) top center no-repeat !important; */
	}
 	
 	.microportlet-img-vertical {
	}
 	.microportlet-img-horizontal {
	 
	}

	
	.microportlet-wrapper{
	}

	.microportlet-content{
	}
	
	
	/* HEADER */
	.micro-header {
	  background-color: transparent;
	}
	.micro-header-center {
	}
	.micro-header-left {
	}
	
	.micro-header h1{
	}
	
	/* CONTENT */
	.microportlet-body{
	}
	
	.micro-section {
	}
	.lineDiv {
	  border-bottom: 1px solid #efefef;
	}
	
/* 	.lineDiv a { */
/* 	  	display: inline; */
/*     	float: left; */
/*     } */
	.lineDiv a {
	}
									
	.lineDiv a:hover {
	}
	.lineDiv > hr {
	}
	.lineDiv .divFeatures {
	}
	.lineDiv .ideeXGare .divFeatures {
	}
	.lineDiv .divFeatures > p {
	}
	
	.micro-footer-center {
	}
	.micro-footer-left {
	}
	
	.micro-footer {
	}
	
	.boldText {
	  color: #333;
	}
	
	.sectionTitle {
	    color: #333;
	}
	span .sectionTitle {
	  	color: #888;
	}
	
	.secondoPiano {
	    color: #888;
	}
	.secondoPiano.microlabel {
	}
	.moreInfo {
	}
	
	.infoText {
	}

/* *** Button Style *** */
	
	.button {
	  background: transparent;
	  color: #333;
	}
	.button:hover,
	.button:active {
	}
	.button:focus {
	}
	.button > span {
	}
	

/* Ujarak */
	.button--ujarak {
	}
	.button--ujarak::before {
		background: #38adc7;
	}
	.button--ujarak,
	.button--ujarak::before {
	}
	.button--ujarak:hover {
		color: #fff;
	}
	
	.button--ujarak:hover::before {
	}
	
	.actionButtons {
	}
	.actionButtons button {
	    background-color: #008AA9;
	    border: 1px solid #008AA9;
	    border-radius: 50%;
	    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	    color: white;
	}
	.actionButtons button:hover {
	    background-color: #008AA9;
	    background-image: none;
	    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	    color: white;
	    text-shadow: none;
	}
	.actionButtons input.addButton {
	    background-color: #008AA9;
	    background-image: none;
	    border: 1px solid #008AA9;
	    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	    color: white;
	    
	}
	.actionButtons input.addButton:focus {
	}
	.actionButtons input.addButton:hover {
	    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	    
	}
	.actionButtons input.addButton.openAddMenu {
	}

}
/* 2 END */

/* EXPANDED */

	.columns-max .ideeXGare {
	  border-bottom: 1px solid #efefef;
	}
	
	.columns-max #contentMacro {
	}
	
	.columns-max #contentMacro form {
	}
	
	.columns-max .lineDiv {
	  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	}
	.columns-max .lineDiv .divFeatures{
	}
	.columns-max .cruscotto-myIdeaImg {
	}
	.columns-max .cruscotto-myIdeaImg {
	}
	
	
	.columns-max .actionButtons {
	}

	.columns-max .actionButtons .button {
	}

	.columns-max .actionButtons > span {
	}
	
	.columns-max .actionButtons ul {
	}
	
	.columns-max .actionButtons ul.openAddMenu{
	}

	
	.columns-max .actionButtons ul li{
	}
	
	.columns-max .actionButtons ul.openAddMenu li a.button{
	}
	.columns-max .actionButtons .itemMenu{
  		text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
	}
	.columns-max .actionButtons .itemMenu:hover{
		background-color: #fff;
  		text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
	}
	.columns-max .actionButtons .itemMenu:hover .btn_icon{
  		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	}
	
	.columns-max .actionButtons .idea_icon::before {
		content: "\f0eb"; /*icon lightbulb*/
		font-family: "fontawesome-alloy";
	}
	.columns-max .actionButtons .challenge_icon::before {
		content: "\f091"; /*icon trophy*/
		font-family: "fontawesome-alloy";
	}

	.columns-max .actionButtons ul li .btn_icon{
	  background-color: #38ADC7;
	  color: #efefef;
	  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	}
	.columns-max .actionButtons ul li .btn_icon:hover{
	}

	.columns-max .actionButtons ul li .btn_text{
	}
	.columns-max .actionButtons ul li .itemMenu:hover .btn_text {
		  color: #38ADC7;
	}
	
	.columns-max .actionButtons #singleActionBtn .btn_text {
	}
	
	.columns-max .actionButtons #singleActionBtn:hover .btn_text {
	  color: #38ADC7;
	}
	
	.columns-max .actionButtons #singleActionBtn .btn_icon {
	  background-color: #38ADC7;
	  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	  color: #efefef;
	}
	.columns-max .actionButtons #singleActionBtn .itemMenu:hover .btn_icon {
	  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	}

/*EXPANDED BTN GROUP*/
	.lineDiv .btn-group.lfr-icon-menu,
	.ideeXGare .lineDiv .btn-group.lfr-icon-menu {
	}
	.lineDiv .btn-group .dropdown-toggle.btn,
	.ideeXGare .lineDiv .btn-group .dropdown-toggle.btn {
	  background-color: #fefefe;
	  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
	}
	.lineDiv .btn-group .dropdown-toggle.btn:hover,
	.ideeXGare .lineDiv .btn-group .dropdown-toggle.btn:hover {
	    background-color: #F5F5F5;
	    background-image: none;
	    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	    color: white;
	}
	.lineDiv .btn-group .dropdown-toggle img,
	.ideeXGare .lineDiv .btn-group .dropdown-toggle img {
	}


/*EXPANDED BTN MANAGER*/	
	.lineDiv .divBtnManager {
	  border-top: 1px solid #efefef;
	}
	.lineDiv .divBtnManager .form {
	}
	.lineDiv .divBtnManager form .btn.btn-primary {
	}


}/*fine core-1*/
