
	
	
/* 2 Main Style Microportlet */

.need-reports-portlet {
		
	 /* IMAGE */
 	
 	.microportlet-img {
	  background-color: transparent;
	  background-image: url("../img/microimgs/need.jpg");
	  background-repeat: no-repeat;
	  background-size: cover;
	}


}
/* 2 END */


