@CHARSET "ISO-8859-1";

.screenshots-class-wrapper .showed{display:block;}
.screenshots-class-wrapper .hidden{display:none;}

.screenshots-class-wrapper div#top-bar{ height:200px; }

.screenshots-class-wrapper ul#thumbnails-container {
  background-color: #fafafa;
  border-bottom: 1px dotted #ddd;
  border-top: 1px dotted #ddd;
  list-style: outside none none;
  margin: 20px 0;
  overflow-y: auto;
  padding: 20px;
  white-space: nowrap;
}

.screenshots-class-wrapper li.thumbs-list{
	display:inline-block; 
	padding:5px;
	
	box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5);
	
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
.screenshots-class-wrapper li.thumbs-list:hover, 
.screenshots-class-wrapper .current-thumb{
	background-color: #FFF;
	
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}
.screenshots-class-wrapper li.thumbs-list > img{ width: 160px; max-height:160px;}
.screenshots-class-wrapper div#preview{
	width: 90%;
	max-width:1170px;
	margin: 0 auto;
	margin-top:30px;
	margin-bottom:30px;
}

.screenshots-class-wrapper #img-and-star-container{
	overflow: auto;
	padding: 20px;
}
.screenshots-class-wrapper img.previewImgs{
	max-width:100%;
	margin: 0 auto;
	float:left;
	
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.screenshots-class-wrapper div#description{
	display: block;
	width:100%;
	margin-top:15px;
}

.screenshots-class-wrapper div#star-box {
  display: inline-block;
  margin: 2.5em 0.5em 0;
}

.screenshots-class-wrapper div#comment-box{
	margin-top:20px;
}