#social-div .social-container {
  width: 100%;
}
#social-div .social-container .links {
  margin-bottom: 0px;
  text-align: center;
}

#social-div .social-container .links a {
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  height: 45px;
  margin:10px 4px 2px;
  padding: 10px 8px 6px;
  text-decoration: none;
  text-shadow: 0 2px 3px #fff;
  width: 45px;
}

#social-div .social-container .links a:hover {
	text-shadow: 0 2px 3px #ccc;
}
.prettySocial .fa-facebook-square {
  color: #3a5795 !important;
}
.prettySocial .fa-twitter-square {
  color: #55acee !important;
}
.prettySocial .fa-google-plus-square {
  color: #d73d32 !important;
}

