/* ------- Idea State ------- */

.css-class-wrapper-fake #idea-state {
  height: 60px;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0 20px;
  width: auto;
}
.css-class-wrapper-fake #idea-state .state {
  	min-width: 100px;
	width: auto;
  
/* 	display: -webkit-box; */
/* 	display: -moz-box; */
/* 	display: box; */
	display: inline-block;
	vertical-align: top;
	
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	box-direction: normal;
	
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;

}
.css-class-wrapper-fake #idea-state .state div {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;

	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;
}

.css-class-wrapper-fake #idea-state .state .ico-state {
  font-size: 24px;
  line-height: 30px;
  margin: 15px 15px 0;
}

.css-class-wrapper-fake #idea-state .state.active .ico-state {
  border-bottom: 2px solid #fdc506;
  color: #fdc506;
/*   display: inline-block; */
  width: 30px;
}

.css-class-wrapper-fake #idea-state .state .tip {
  display: none;
  
  line-height: 30px;
  max-width: 100px;
  text-align: center;
  width: 100%;
}
.css-class-wrapper-fake #idea-state .state.active .tip {
	color: #fdc506;
}

.css-class-wrapper-fake #idea-state .state:hover .tip {
  display: block;
}
/* fine Idea State*/

/* VME modale*/
	.css-class-wrapper-fake p {
	  font-size: 14px;
	  font-weight: 400;
	  letter-spacing: 0;
	  line-height: 24px;
	  margin-bottom: 16px;
	}
	.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content p {
	  color: black;
	  font-family: "Roboto","Helvetica","Arial",sans-serif;
	  font-size: 16px;
	  font-weight: 400;
	  letter-spacing: 0.04em;
	  line-height: 24px;
	  opacity: 0.87;
	}
	.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content:not([layout="row"]) > *:first-child:not(.mdl-subheader) {
	  margin-top: 0;
	}
	.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content h1, 
	.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content h2, 
	.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content h3, 
	.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content h4, 
	.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content h5, 
	.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content h6 {
	  margin-bottom: 18px;
	}
	
	.css-class-wrapper-fake .mdl-dialog-container {
	  align-items: center;
	  background-color: transparent;
	  display: flex;
	  flex-direction: column;
 	  height: 100%;
 	  justify-content: center;
	  left: 0;
	  position: fixed;
	  top: 0;
	  visibility: hidden;
	  width: 100%;
	  z-index: 999;
	}
	
	.css-class-wrapper-fake .mdl-dialog-container.is-visible {
	  background-color: rgba(0, 0, 0, 0.25);
	  visibility: visible;
	}
	
	.css-class-wrapper-fake .mdl-dialog-container {
    	visibility: hidden;
	}
	.css-class-wrapper-fake .mdl-dialog-container.is-visible {
    	visibility: visible;
	}

	.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog {
	  background-color: white;
	  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14), 0 3px 11px -2px rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.12);
	  -moz-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14), 0 3px 11px -2px rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.12);
	  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14), 0 3px 11px -2px rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.12);
	  box-sizing: border-box;
	  border-radius: 2px;
	  display: flex;
	  flex-direction: column;
	  max-height: 80%;
	  max-width: 80%;
	  min-width: 280px;
	  opacity: 0;
	  overflow: hidden;
	  position: relative;
	  transition: opacity 1s ease 1s;
	}
	.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog{
		opacity: 1;
	}

	.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content {
	  box-sizing: border-box;
	  display: block;
	  order: 1;
/* 	  overflow: auto; */
	  padding: 24px 24px 0;
	}
	
	.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__content .form.btnAction {
	  text-align: left;
	}
	
	.css-class-wrapper-fake .mdl-dialog-container .mdl-dialog .mdl-dialog__actions {
	  align-items: center;
	  box-sizing: border-box;
	  display: flex;
	  justify-content: flex-end;
	  margin-bottom: 8px;
	  margin-top: 16px;
	  min-height: 40px;
	  order: 2;
	  padding: 6px 16px 6px 0;
	}
