
	
	
/* 2 Main Style Microportlet */

.statistiche-portlet {
		
	 /* IMAGE */
 	
 	.microportlet-img {
	  background-color: transparent;
/* 	  background-image: url("../img/microimgs/lemieidee.jpeg"); */
	  background-repeat: no-repeat;
	  background-size: cover;
	}
	
	#statsGraph > div {
	  text-align: center;
	}
	
	
	div#stats {
	  margin-top: 60px;
	}
	
	
	/*Lista Statistiche*/
	
	.firstlevel-list {
	  margin: 10px;
	}
	.secondlevel-list {
	  list-style: outside none none;
	}
	.list-value {
	  margin: 0 10px;
	}
	.list-text {
	  font-style: italic;
	}
}
/* 2 END */
