

<div class="row section top-margin">
	
	<div class="col s12 m12 l12">
		<div class="row">
			<!-- Needs -->
			<div class="col s12 m4 l4">
				<div class="card oia-card">
		            <div class="card-image">
		              <img src="<%=request.getContextPath()%>/img/home/needs.png">
		              <span class="card-title"><liferay-ui:message key="ims.needs"/></span>
		            </div>
		            <div class="card-content badge-card">
		              <p><liferay-ui:message key="ims.need-definition"/></p>
		            </div>
		            <div class="card-action">
		              	<a class="btn-flat core-color-text text-color-4 waves-effect " href="<%=urlNeedsExplorerPage%>"><liferay-ui:message key="view"/>&nbsp;</a>
		              	<% if (!isEnte){	%>
		              		<a class="btn-flat core-color-text text-color-4 waves-effect tooltipped" href="<%=urlcreateNeedPage%>"  data-tooltip="<liferay-ui:message key="ims.create.need"/>"   data-position="top" data-delay="50"><liferay-ui:message key="create"/></a><!-- Solo Cittadino -->
		              	<% }else{	%>
		              		<!-- fake button -->
		              		<a class="btn-flat transparent-text" style="cursor: default;">&nbsp;</a>
		              	<%} %>
		              		
		            </div>
		            
				</div>
			</div>
			<!-- Challenges -->
			<div class="col s12 m4 l4">
				<div class="card oia-card">
		            <div class="card-image">
		              <img src="<%=request.getContextPath()%>/img/home/challenges.png">
		              <span class="card-title"><liferay-ui:message key="ims.challenges"/></span>
		            </div>
		            <div class="card-content badge-card">
		              <p><liferay-ui:message key="ims.challenge-definition"/></p>
		            </div>
		            <div class="card-action">
		              	<a class="btn-flat core-color-text text-color-4 waves-effect " href="<%=urlChallengesExplorerPage%>"><liferay-ui:message key="view"/>&nbsp;</a>
		              	<% if (isEnte){	%><!-- Solo Ente -->
		              		<a class="btn-flat core-color-text text-color-4 waves-effect tooltipped" href="<%=urlcreateChallengePage%>" data-tooltip="<liferay-ui:message key="ims.create.challenge"/>"   data-position="top" data-delay="50"><liferay-ui:message key="create"/></a>
		              	<% }else{	%>
		              		<!-- fake button -->
<!-- 		              		<a class="btn-flat transparent-text" style="cursor: default;"><liferay-ui:message key="create"/></a> -->
		              		<a class="btn-flat transparent-text" style="cursor: default;">&nbsp;</a>
		              	<%} %>
		              		
		            </div>
				</div>
			</div>
			<!-- Ideas -->
	      	<div class="col s12 m4 l4">
				<div class="card oia-card">
		            <div class="card-image">
		              <img src="<%=request.getContextPath()%>/img/home/ideas.png">
		              <span class="card-title"><liferay-ui:message key="ims.ideas"/></span>
		            </div>
		            <div class="card-content badge-card">
		              <p><liferay-ui:message key="ims.idea-definition"/></p>
		            </div>
		            <div class="card-action">
		            	<a class="btn-flat core-color-text text-color-4 waves-effect " href="<%=urlIdeasExplorerPage%>"><liferay-ui:message key="view"/>&nbsp;</a>
		              	 				<!-- Solo Cittadino -->
		              	<% if (!isEnte){	
		              		if (areThereOpenChallenge || areThereNeedByPilot){	
		              	%>
		              	
		              		<a class="btn-flat core-color-text text-color-4 waves-effect tooltipped "  data-tooltip="<liferay-ui:message key="ims.create-idea"/>"   data-position="top" data-delay="50"   href="<%=urlcreateIdeaPage%>"><liferay-ui:message key="create"/></a>
		              	<% 
		              		}else{
		              	%>		
		              	
		              		<a class="btn-flat core-color-text text-color-4 waves-effect tooltipped disabled btn" data-tooltip="<liferay-ui:message key="ims.tip-no-challange-need-so-cannot-create-idea"/>"   data-position="top" data-delay="50"  > <liferay-ui:message key="create"/></a>
		              	
		              	<%
		              		}
		              		
		              		
		              	}else{	%>
							<!-- fake button -->
		              		<a class="btn-flat transparent-text" style="cursor: default;">&nbsp;</a> 
		              	<%} %>
		              		
		            </div>
				</div>
	      	</div>
	      	
		</div>
	</div>

</div>