
	<!-- Immagine -->
					<%@page import="it.eng.rspa.ideas.controlpanel.IdeaManagementSystemProperties"%>
<div class="col s12 m3 l3" id="imgDiv">
						<aui:input type="hidden" name="representativeImgUrl" id="representativeImgUrl" value="<%=ideaRepresentativeImgUrl %>"/>
				        <div class="profile-image">
				        	<%if(ideaRepresentativeImgUrl.equals("")){%>
				        		<img class="journal-image" hspace="0" id="<portlet:namespace/>article-image" src="<%=request.getContextPath()+pathDefaultimg%>" vspace="0" onclick="flb()"/>
				        	<%}else{%>
				        		<img class="journal-image" hspace="0" id="<portlet:namespace/>article-image" src="<%=ideaRepresentativeImgUrl %>" vspace="0" onclick="flb()" />
							<%}%>
				        </div>
				        <span onclick="flb();"><i class="infoImg"><liferay-ui:message key="ims.load.img"/></i></span>
					</div>
					
					<div class="col s12 m9 l9" id="generalInfoDiv">
						
						<!-- Title -->
						<div class="assetInfo inline left" id="titleDiv">
						
						<aui:input id="needReport" class="general-info" name="needReport" type="hidden" value="<%=needReport %>"/>
						
							<%if(ideaId.equals("-1")){//se nuova idea
							String language = locale.getLanguage();%>
							<input name="<portlet:namespace/>language" id="<portlet:namespace/>language" value="<%=language %>" hidden/>
							
							<div class="input-field">
					            <input type="text" length="60"  maxlength="60" class="general-info" name="<portlet:namespace/>ideaTitle" id="<portlet:namespace/>ideaTitle" value="<%=ideaTitle %>">
					            <label for="<portlet:namespace/>ideaTitle"> <liferay-ui:message key="ims.title.placeholder"/>&nbsp;*</label>
					        </div>		
									<!-- Hashtag -->
									
									<% if (IdeaManagementSystemProperties.getEnabledProperty("tweetingEnabled") ){ %>	
										<input 	placeholder='<liferay-ui:message key="ims.hashtag"/>'
												name="<portlet:namespace/>ideaHashTag"
												id="<portlet:namespace/>ideaHashTag"
												value="<%=ideaHashTag %>"/>												
									<%} %>			
									<!-- Hashtag -->	
							
							<%}else{%>
								<h4><%=ideaTitle %></h4>
								<aui:input id="ideaTitle" class="general-info" name="ideaTitle" type="hidden" value="<%=ideaTitle %>"/>
							<%}%>
						</div>
					
						<!-- Description -->
						<div class="assetInfo inline left" id="descriptionDiv">
<!-- 						<label ><liferay-ui:message key="ims.description"/>*</label> -->
							<aui:input name="ideaDescription" id="ideaDescription" type="hidden" value=""/>
					 		<div class="row">
					          <div class="input-field col s12">
					          					          
					        	
					          <span 
					          
					       <% if (!areDescriptionAndTagsEditable){ //nascondo l'editor %>
					          hidden="true" 
					          <%}%>
					          >
					            <textarea  id="ideaDesc" name="ideaDesc" class="" placeholder='<liferay-ui:message key="ims.description.placeholder"/>'>
					            	<%=ideaeDescription.replaceAll("[\\r\\n]", "") %>
					            </textarea>
					          <label for="ideaDesc" style="font-size: 1rem;"><liferay-ui:message key="ims.description"/>*</label>
					        </span>
					          
					           <% if (!areDescriptionAndTagsEditable){ //mostro la descrizione in lettura%>
					          
					          		<p class="">
									<%=ideaeDescription %>
								</p>
					          
					         <%}%>
					            
					          </div>
					        </div>
					 		
							<script type="text/javascript">
					            function <portlet:namespace />initEditorIdeaDescription() {
					                        return '<%=ideaeDescription.replaceAll("[\\r\\n]", "") %>';
					            }
  
					            
							</script>
						</div>

					</div>
