<%@page import="it.eng.rspa.ideas.utils.IdeasListUtils"%>
<% 
String tagSelDisplayNone = "";

if (!areDescriptionAndTagsEditable){
	   tagSelDisplayNone = "style=\"display:none\"";
}


%>

					
					<!-- TAG --start -->
					
<!-- 			OLD		 -->
					<div id="tagsSection" class="divSection" <%=  tagSelDisplayNone%> >
						<label class="lblSection"><span class="icon-tags"></span><liferay-ui:message key="keywords"/>
						
						<% if (needReport){%>
							<liferay-ui:icon-help message="ims.tip-need-tags"/>
						<% }else{%>
							<liferay-ui:icon-help message="ims.tip-idea-tags"/>
						<% }%>
						
						
						</label>
						
						
<!-- 						<div class="material-design-restyle btn--raised multiple-btn-space"> -->
<%-- 							<liferay-ui:asset-tags-selector   className="<%=CLSIdea.class.getName() %>" classPK="<%=id%>"/> --%>
<!-- 						</div> -->
						
						
					
					
		<!-- 			OLD		 -->			
					
		<!-- 			NEW		 -->		
					<div class="scrollspy row" data-name='<liferay-ui:message key="tags"/>' id="tags">

						<div id="addedTags" class="row">
						    
						    <!-- template to replace -->
						 	
					     	<div class="chip template hide"> 
					     		<i class="material-icons bulletIcon">local_offer</i> 
					     		<span class="tagname">tagname</span>
					     		<i class=" material-icons close">close</i> 
					     	</div>
						 <script>
						   	 var objTags = new Object();
						 </script>
						 <%
						 String[] tagsAr = IdeasListUtils.getTagsArrayByIdeaId(  Long.valueOf(ideaId));
						 
						 if (tagsAr.length>0){
							 %> 
							 
							<script>
						 	objTags['tags'] = new Array(<%= IdeasListUtils.getTagsCommasForArrayJSByIdeaId( Long.valueOf(ideaId)) %>);
						    </script>
							 
						 <% }	 
							 
						 
						 
						 
						 for (int i =0; i<tagsAr.length; i++ ){
						 %>
						 
						    <div class="chip"> 
						    	<i class="material-icons bulletIcon">local_offer</i> 
						    	<span class="tagname"><%=tagsAr[i] %></span> 
						    	<i class=" material-icons close">close</i> 
						    </div>
						<%} %>
						    
					
					    </div>
					    
					    <!-- trigger -->
					    <div class="row">
						    <div class="col s12 input-field">
								<input name="tags" id="tag" type="text"">
								<label for="tag">+&nbsp;<liferay-ui:message key="add-tag"/></label>
							</div>
						</div>
					</div>
					
			</div>
			<!-- 			NEW		 -->		
					<!-- show existing tags -->
					
					<c:if test="<%= !areDescriptionAndTagsEditable %>">
						<div id="tagsSectionShow" class="divSection" >
						<label class="lblSection"><span class="icon-tags"></span><liferay-ui:message key="keywords"/></label>
							<liferay-ui:asset-tags-summary className="<%= CLSIdea.class.getName()%>" classPK="<%= id %>"/>
							
							
								<% if (tags.equalsIgnoreCase("")){ %>
									<liferay-ui:message key="no-tags-found"/>
								<%} %>
						</div>
					</c:if>
					
					<!-- TAG END -->
					
					<div class="block next-button-wrapper">
							<button class="right next-button btn-flat" id="next-cat-tag" data-nextid="attach-panel">
							  <span class="icon-arrow-down"></span>
							</button>
					</div>
				
					
<script>
		var unsupportedChars = '&,\',@,\\,],},:,=,>,/,<,[,{,%,|,+,#,`,?,",/,*,~'.split(',');
		
		
		
		function addTag(t, updatemodel){
			
			var container = $('#addedTags');
			var template = container.find('.template');
			var node = template.clone();
			node.removeClass('template hide');
			node.find('.tagname').html(t);
			
			if(updatemodel){
				if(typeof objTags['tags'] === 'undefined'){
					objTags['tags'] = new Array();
				}
				
				var prevtags = objTags.tags;
				
				var tagExists = false;
				//check if it exists, then I don't add it
				for(var ti=0; ti<prevtags.length; ti++){
					
					if(prevtags[ti] == t){ 
						tagExists=true; 
						break;
					}
				}
				
				if (tagExists == false){
					prevtags.push(t);
					container.append(node);
					refreshSetTagInput(prevtags);
				}
			}
			
			return;
		}
		
		
		
		function removeTag(){
			
			var tag = $(this).siblings('.tagname').text();
			var newtags = new Array();
			var prevtags = objTags.tags;
			
			//loop to search, then I remove it
			for(var t=0; t<prevtags.length; t++){
				
				if(prevtags[t] == tag){ 
					continue; 
				}else{ 
					newtags.push(prevtags[t]); 
				}
				
			}
			
			objTags.tags = newtags;
			
			$(this).closest('.chip').remove();

			refreshSetTagInput(newtags);
			
			return;
		}
		
		
		function refreshSetTagInput(arrTags){
			
			var allTags="";
			
			for ( i =0; i<arrTags.length; i++ ){
				
				if (i!=arrTags.length-1){
					allTags+=arrTags[i]+",";
				}else{
					allTags+=arrTags[i];
					
				}
			}
			
			//I'm setting the hidden input in order to send to server
			  $('#<portlet:namespace/>fm #<portlet:namespace/>assetTagNames').attr("value",allTags)  ;
			
		}
		
		
		
		
		function handleKeypress(event){
			
			//get the pressed key
			var key = event.which || event.keyCode;
			
			//Check if the just pressed key is among the unsupported chars
			var index = jQuery.inArray(String.fromCharCode(key), unsupportedChars);
			if(index>-1) return false;
			
			//If the char is a comma or the 'return' the tag is added to the artefact tagset
			if(key == 44 || key == 13 || key == 59){
				var t = $(this).val().trim();
				if(t.length>0){ 
					addTag(t, true);
					$(this).val("");
				}
				return false;
			}
		}
		
		$(document).on('keypress', '#tag', handleKeypress);
		$(document).on('click', '#addedTags .chip .close', removeTag);
</script>