<!-- <section id="attachmentsSection" class="panel">	 -->
<!-- 			<aui:fieldset label="ims.attached-documents"> -->


<div class="css-class-wrapper-fake top-margin">
	<div class="row">
			 <%	 
			 
			 Iterator<DLFileEntry> iter = files.iterator();
			 
			 boolean documentiTrovati=false;
			 while (iter.hasNext()){
			  
			   documentiTrovati=true;
			  
			  DLFileEntry fileCor = iter.next();
			  String value = fileCor.getFileEntryId()+"";
			  
			  String fileCorURL = themeDisplay.getPortalURL() + 
			     themeDisplay.getPathContext() + 
			     "/documents/" + 
			     //themeDisplay.getScopeGroupId() + 
			     themeDisplay.getCompanyGroupId() +
			     StringPool.SLASH + 
			     fileCor.getUuid();
			  
			  String icon = "../file_system/small/" + fileCor.getIcon();
			 %>
			   <span class="chip attach-item">
			   	<liferay-ui:icon image="<%=icon %>" cssClass="icons" label="<%= true %>" message="<%=fileCor.getTitle() %>" url="<%= fileCorURL %>"/>
			   </span>
			 <% } %>
			 
	</div>
</div>			 
			 
			 
<!-- 			</aui:fieldset> -->
<!-- </section> -->