

<%@page import="it.eng.rspa.ideas.challenges.servicelayer.service.NeedLinkedChallengeLocalServiceUtil"%>
<%@page import="java.util.ArrayList"%>
<%@page import="com.liferay.portal.kernel.exception.SystemException"%>
<%@page import="it.eng.rspa.ideas.utils.ChallengesUtils"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.model.CLSChallenge"%>
<%@page import="it.eng.rspa.ideas.controlpanel.IdeaManagementSystemProperties"%>

<%

List<CLSChallenge> gareLinked = new ArrayList<CLSChallenge>();

try {
	
	gareLinked = NeedLinkedChallengeLocalServiceUtil.getChallengeByNeedId(ideaId);
	
} catch (SystemException e) {
	e.printStackTrace();
}

%>
	<div class="section scrollspy" id="sezLinkedChallenges">
			<h5 class="header"><liferay-ui:message key="ims.linked-challenges"/> <liferay-ui:icon-help message="ims.tip-linked-challenges-to-need"/></h5>
			<div class="divider"></div>	
			
			<%if(gareLinked.size()!=0){ %>	
								
				<ul class="collection">
			        <li class="collection-item"><liferay-ui:message key="ims.number-of-linked-challenges" /><span class="badge core-color color-1 white-text"><%=gareLinked.size()%></span></li>
			  	</ul>
				
				<div id='tableIdeas' class="carousel carousel-slider">
				
				<% for ( int i=0; i< gareLinked.size(); i++){
				
					CLSChallenge garaLinked = gareLinked.get(i);
					String urlImgLinked = ChallengesUtils.getRepresentativeImgUrlByChallenge(garaLinked, request.getContextPath());
					String linkGaraLinked = IdeaManagementSystemProperties.getFriendlyUrlChallenges(garaLinked.getChallengeId());
					String chStatus = ChallengesUtils.getChallengeStatusI18n(garaLinked.getChallengeStatus(), locale);
				%>
				    
				    <div class="carousel-item" >
			          <div class="card mini-card">
				            <div class="card-content" style="background-image: url(<%=urlImgLinked%>);">
				           	  <a class="shadow-layer white-text" href="<%=linkGaraLinked %>" target="_blank">
					              <span class="card-title weight-4"><%=garaLinked.getChallengeTitle() %></span>
					              <div class="row">
						              <div class="col s12 m4">
							              <label><liferay-ui:message key="start-date"/></label>
							              <p title="<%=MyUtils.getDateDDMMYYYYByDate(garaLinked.getDateStart()) %>"><%=MyUtils.getDateDDMMYYYYByDate(garaLinked.getDateStart()) %></p>
						              </div>
						               <div class="col s12 m4">
							              <label><liferay-ui:message key="end-date"/></label>
							              <p title="<%=MyUtils.getDateDDMMYYYYByDate(garaLinked.getDateEnd()) %>"><%=MyUtils.getDateDDMMYYYYByDate(garaLinked.getDateEnd()) %></p>
						              </div>
						              <div class="col s12">
					              		  <label><liferay-ui:message key="ims.state"/></label>
							  			  <p title="<%=chStatus%>"><%=chStatus%></p>
								  	  </div>
					              </div>
					          </a>
				            </div>
				            <div class="card-action center">
								<a class="btn-flat core-color-text text-color-2" type="submit" href="<%=linkGaraLinked %>" target="_blank">
									<liferay-ui:message key="ims.details"/>
								</a>
				            </div>
			          </div>
					</div> 
				    
				   <% }%> 
				   
				<%
					if (gareLinked.size() > 1){
				%>
	            	<div class="carousel-fixed-item left">
				      <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="<liferay-ui:message key="previous"/>" href="javascript:$('#tableIdeas').carousel('prev');"><i class="material-icons medium left">navigate_before</i></a>
				    </div>
					<div class="carousel-fixed-item right">
				      <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="<liferay-ui:message key="next"/>" href="javascript:$('#tableIdeas').carousel('next');"><i class="material-icons medium right">navigate_next</i></a>
				    </div>
			    <% }%>
				    
				</div>
			<% }else{%>
				<div id='tableIdeas' class="top-margin">
					<em>&emsp;<liferay-ui:message key="ims.no-challenge"/></em>
				</div>
			<%} %>
	</div>


			
			
<script>	
// $(window).load(function() {});

	$(document).ready(function(){
					
			$('#tableIdeas.carousel-slider').carousel({full_width: true, indicators: true, dist:0});
	
	});
</script>