

  <!-- Filter Modal Structure -->
		<%@page import="it.eng.rspa.ideas.utils.MyUtils"%>
<%@page import="it.eng.rspa.ideas.utils.IdeasListUtils"%>
<div id="modal-filter" class="modal bottom-sheet" style="z-index: 1003; display: block; opacity: 0; bottom: -100%;">
          <div class="modal-content row">
 				
      	
				 <!--Collection Category-->
			<div class="col s12 m6 l4">
				<form id="formCategory" action="#">      	
				   <ul class="collection with-header">
				   	<li class="collection-header">
				   		<h5><liferay-ui:message key="ims.filter-by-category"/></h5>
				   		<div class="center">
					   		<a class="waves-effect btn-flat" href="javascript:selectAll('#formCategory')"><liferay-ui:message key="all"/></a>
					   		<a class="waves-effect btn-flat" href="javascript:deselectAll('#formCategory')"><liferay-ui:message key="none"/></a>
				   		</div>
				   	</li>
				   	
				    <li class="collection-item avatar avatar-thin">
				     <i class="material-icons icon-building circle grey lighten-1"></i>
				      <span class="title"><%= IdeasListUtils.getVocabularyLocaleByEn("Residence - Housing & Development", locale.toString()) %></span>
				      <div class="switch top-margin">
					    <label for="cat40">
					      <liferay-ui:message key="ims.off"/>
					      <input type="checkbox" id="cat40" checked>
					      <span class="lever"></span>
					      <liferay-ui:message key="ims.on"/>	
					    </label>
					  </div>
				    </li>
				    
				    <li class="collection-item avatar avatar-thin">
				      <i class="material-icons icon-road circle blue-grey lighten-1"></i>
				      <span class="title"><%= IdeasListUtils.getVocabularyLocaleByEn("Transportation and Mobility", locale.toString()) %></span>
				      <div class="switch  top-margin">
					    <label for="cat41">
					      <liferay-ui:message key="ims.off"/>
					      <input type="checkbox" id="cat41" checked>
					      <span class="lever"></span>
					      <liferay-ui:message key="ims.on"/>	
					    </label>
					  </div>
				    </li>
				    
				    <li class="collection-item avatar avatar-thin">
				      <i class="material-icons icon-money circle teal lighten-1"></i>
				      <span class="title"><%= IdeasListUtils.getVocabularyLocaleByEn("Economy", locale.toString()) %></span> 
				      <div class="switch top-margin">
					    <label for="cat42">
					      <liferay-ui:message key="ims.off"/>
					      <input type="checkbox" id="cat42" checked>
					      <span class="lever"></span>
					      <liferay-ui:message key="ims.on"/>	
					    </label>
					  </div>
				    </li>
				    
				    <li class="collection-item avatar avatar-thin">
				      <i class="material-icons icon-leaf circle green lighten-1"></i>
				      <span class="title"><%= IdeasListUtils.getVocabularyLocaleByEn("Environment & Energy", locale.toString()) %></span>
				      <div class="switch top-margin">
					    <label for="cat43">
					      <liferay-ui:message key="ims.off"/>
					      <input type="checkbox" id="cat43" checked>
					      <span class="lever"></span>
					      <liferay-ui:message key="ims.on"/>	
					    </label>
					  </div>
				    </li>
				    
				    <li class="collection-item avatar avatar-thin">
				     <i class="material-icons icon-group circle cyan lighten-1"></i>
				      <span class="title"><%= IdeasListUtils.getVocabularyLocaleByEn("Society & Social Services", locale.toString()) %></span>
				      <div class="switch top-margin">
					    <label for="cat44">
					      <liferay-ui:message key="ims.off"/>
					      <input type="checkbox" id="cat44" checked>
					      <span class="lever"></span>
					      <liferay-ui:message key="ims.on"/>	
					    </label>
					  </div>
				    </li>
				    
				    <li class="collection-item avatar avatar-thin">
				      <i class="material-icons icon-book circle red lighten-1"></i>
				      <span class="title"><%= IdeasListUtils.getVocabularyLocaleByEn("Education & Culture", locale.toString()) %></span>
				      <div class="switch top-margin">
					    <label for="cat45">
					      <liferay-ui:message key="ims.off"/>
					      <input type="checkbox" id="cat45" checked>
					      <span class="lever"></span>
					      <liferay-ui:message key="ims.on"/>	
					    </label>
					  </div>
				    </li>
				    
				    <li class="collection-item avatar avatar-thin">
				      <i class="material-icons fa fa-institution circle brown lighten-1"></i>
				      <span class="title"><%= IdeasListUtils.getVocabularyLocaleByEn("City Government & Business", locale.toString()) %></span>
				      <div class="switch top-margin">
					    <label for="cat46">
					      <liferay-ui:message key="ims.off"/>
					      <input type="checkbox" id="cat46" checked>
					      <span class="lever"></span>
					      <liferay-ui:message key="ims.on"/>	
					    </label>
					  </div>
				    </li>
				    
				    <li class="collection-item avatar avatar-thin">
				      <i class="material-icons fa fa-photo circle purple lighten-1"></i>
				      <span class="title"><%= IdeasListUtils.getVocabularyLocaleByEn("Tourism & Leisure & Recreation", locale.toString()) %></span>
				      <div class="switch top-margin">
					    <label for="cat47">
					      <liferay-ui:message key="ims.off"/>
					      <input type="checkbox" id="cat47" checked>
					      <span class="lever"></span>
					      <liferay-ui:message key="ims.on"/>	
					    </label>
					  </div>
				    </li>
				    
				    <li class="collection-item avatar avatar-thin">
				     <i class="material-icons icon-ambulance circle blue lighten-1"></i>
				      <span class="title"><%= IdeasListUtils.getVocabularyLocaleByEn("Public Safety", locale.toString()) %></span>
				      <div class="switch top-margin">
					    <label for="cat48">
					      <liferay-ui:message key="ims.off"/>
					      <input type="checkbox" id="cat48" checked>
					      <span class="lever"></span>
					      <liferay-ui:message key="ims.on"/>	
					    </label>
					  </div>
				    </li>
				    
				    <li class="collection-item avatar avatar-thin">
				      <i class="material-icons icon-smile circle orange lighten-1"></i>
				      <span class="title"><%= IdeasListUtils.getVocabularyLocaleByEn("Quality of Life", locale.toString()) %></span>
				      <div class="switch top-margin">
					    <label for="cat49">
					      <liferay-ui:message key="ims.off"/>
					      <input type="checkbox" id="cat49" checked>
					      <span class="lever"></span>
					      <liferay-ui:message key="ims.on"/>	
					    </label>
					  </div>
				    </li>

				  </ul>
				</form>
			</div>
  
  

  
            <div class="col s12 m6 l4">
          		 <form id="formWelive" action="#"> 
          		   <ul class="collection with-header">
						<li class="collection-header">
					   		<h5><liferay-ui:message key="ims.other-filters"/></h5>
					   		<div class="center">
					   			<a class="waves-effect btn-flat" href="javascript:selectAll('#formWelive')"><liferay-ui:message key="all"/></a>
					   			<a class="waves-effect btn-flat" href="javascript:deselectAll('#formWelive')"><liferay-ui:message key="none"/></a>
					   		</div>
					   	</li>
		
		 <% if (!isEnte  ){	%>
						
					   	<li class="collection-header"><h5><liferay-ui:message key="ims.other-filters"/></h5></li>
					    <li class="collection-item avatar avatar-thin">
					     <i class="icon-user circle"></i>
					      <span class="title"><liferay-ui:message key="ims.my-needs"/></span> 
					      <div class="switch top-margin">
						    <label for="pers1">
						      <liferay-ui:message key="ims.off"/>
						      <input type="checkbox" id="pers1"  
					 				<% if (!isIMSSimpleUser  ){ //se non sono loggato lo disabilito	%>	      
						      					disabled
									<%}	%>      
						      >
						      <span class="lever"></span>
						      <liferay-ui:message key="ims.on"/>	
						    </label>
						  </div>
					    </li>
					   

		<% }else{//if isEnte %>
						<!-- SOLO se mi loggo come Ente -->
						<li class="collection-item avatar avatar-thin">
					     <i class="material-icons small circle">location_city</i>
					      <span class="title"><liferay-ui:message key="ims.need-reported-to"/></span>&nbsp;<span><%= MyUtils.getOrganizationNameByMunicipalityId(currentUser.getUserId())%></span>
					      <div class="switch top-margin">
						    <label for="pers2">
						      <liferay-ui:message key="ims.off"/>
						      <input class="" type="checkbox" id="pers2" checked>
						      <span class="lever"></span>
						      <liferay-ui:message key="ims.on"/>	
						    </label>
						  </div>
					    </li>
	<% }%>	
 	
					    <li class="collection-item avatar avatar-thin">
					     <i class="icon-bookmark circle"></i>
					      <span class="title"><liferay-ui:message key="ims.favorite-needs"/></span>  
					      <div class="switch top-margin">
						    <label for="pers3">
						       <liferay-ui:message key="ims.off"/>
						      <input class="" type="checkbox" id="pers3" 
						      <% if (!isIMSSimpleUser && !isEnte ){ //se non sono loggato lo disabilito	%>	      
						      					 disabled
							<%}	%>
						      >
						      <span class="lever"></span>
						      <liferay-ui:message key="ims.on"/>		
						    </label>
						  </div>
					    </li>
				   </ul>
				</form>
			</div>
			
		
			
  </div>
  
</div><!-- Fine Modal -->



<script>

//chiamare onclick="selectAll('formState')"
//chiamare onclick="selectAll('formCategory')"
//chiamare onclick="selectAll('formWelive')"
function selectAll(form){
	
	$(form+" :input").each(function(e){	
		if(!$(this).prop('disabled')){
			$( this ).prop('checked', true);
		}
	});
}

//chiamare onclick="deselectAll('formState')"
//chiamare onclick="deselectAll('formCategory')"
//chiamare onclick="deselectAll('formWelive')"
function deselectAll (form){
	
	$(form+" :input").each(function(e){	
		if(!$(this).prop('disabled')){  
		  $( this ).prop('checked', false);
		}
	});
}

</script>

