<%@page import="com.liferay.portal.kernel.util.Validator"%>
<%@page import="it.eng.rspa.ideas.utils.MyUtils"%>
<%@page import="javax.portlet.PortletSession"%>
<%@page import="it.eng.rspa.ideas.utils.IdeasListUtils"%>
<%

User currentUserPilot = PortalUtil.getUser(request);
String pilotaRedir = IdeasListUtils.getPilot(renderRequest);
String pilotCh = MyUtils.getPilotByIdea(idea);

if (
	(pilotaRedir.equals("") ||
		(Validator.isNull(currentUserPilot) && 
			!pilotaRedir.equalsIgnoreCase(pilotCh)
		)	
	) && !pilotCh.equals(""))  {
	
		MyUtils.setPilotByRenderReq(renderRequest, pilotCh);
 %>

  <script> 
 
  var pilotCh = '<%=pilotCh %>';
  
  if (pilotCh){ /* if we have a new pilot to set */
	  sessionStorage.removeItem("pilot");
	  sessionStorage.setItem("pilot", pilotCh);
	  location.reload();
  }else{
	  location.href="/"; /*it redirects to Controller */
  }
	  
 
  </script>
  <%return; //in any case the page will be reloaded
	
}
%> 
  
  