<%@page import="it.eng.rspa.ideas.challenges.servicelayer.model.IdeaEvaluation"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.service.IdeaEvaluationLocalServiceUtil"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.service.EvaluationCriteriaLocalServiceUtil"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.model.EvaluationCriteria"%>

<%

List<EvaluationCriteria> barrierCriteria = EvaluationCriteriaLocalServiceUtil.getEnabledCriteriaByChallengeIdAndIsBarriera(challengeId, true);
List<EvaluationCriteria> quantitativeCriteria = EvaluationCriteriaLocalServiceUtil.getEnabledCriteriaByChallengeIdAndIsBarriera(challengeId, false);

String finalMotivation = idea.getFinalMotivation();

%>


<div id="modalReport" class="modal">
    <div class="modal-content">



<div class="row">
	<div class="col s12">
		<h5 class="truncate">&nbsp;<i class="fa fa-lightbulb-o fa-2x" aria-hidden="true">&nbsp;</i><%=titolo %></h5> 
		
		<table class="detailsTable highlight responsive-table bordered" >
		  
			<thead>
			  <tr class="core-color color-1">
			  	<th class="weight-7" data-field="num"><!-- n&deg;  --></th>
			      <th class="weight-7" data-field="criterio"><liferay-ui:message key="ims.barrier-br-criteria"/></th>
			      <th class="weight-7" data-field="score"><liferay-ui:message key="ims.passed"/></th>
			      <th class="weight-7" data-field="comment"><liferay-ui:message key="comments"/></th>
			  </tr>
			</thead>
		
			<tbody>
			
<%for (int i =0; i< barrierCriteria.size(); i++){

	IdeaEvaluation iEval = IdeaEvaluationLocalServiceUtil.getIdeaEvaluationByCriteriaIdAndIdeaId(barrierCriteria.get(i).getCriteriaId(), ideaId);
%>			
			  <tr>
			  	<td class="center-align"><%=i+1 %></td>
			    <td><%=barrierCriteria.get(i).getDescription() %></td>
			    
			    <%if (iEval.getPassed()){ %>
			   	 	<td class="center-align" ><liferay-ui:message key="yes"/></td>
			   	 <%}else{%>
			   	 	<td class="center-align" ><liferay-ui:message key="no"/></td>
			   	 <%} %>
			    
			    <td><%=iEval.getMotivation() %></td>
			  </tr>
<%} %>
			
			</tbody>
			
		</table>
		
		<table class="detailsTable highlight responsive-table bordered" >
		  
		  <thead>
		    <tr class="core-color color-1">
		    	<th class="weight-7" data-field="num"><!-- n&deg;  --></th>
		        <th class="weight-7" data-field="criterio"><liferay-ui:message key="ims.quantitative-br-criteria"/></th>
		        <th class="weight-7" data-field="score"><liferay-ui:message key="score"/></th>
		        <th class="weight-7" data-field="comment"><liferay-ui:message key="comments"/></th>
		    </tr>
		  </thead>
		
			<tbody>
			
<% if ( quantitativeCriteria.size()==0){%>			
			
			  
			  <tr>
			  	<td class="center-align">-</td>
			    <td><liferay-ui:message key="ims.no-quantitative-criteria"/></td>
			    <td class="center-align">-</td>
			    <td>-</td>
			  </tr>
<%} 
			
for (int i =0; i< quantitativeCriteria.size(); i++){

	IdeaEvaluation iEval = IdeaEvaluationLocalServiceUtil.getIdeaEvaluationByCriteriaIdAndIdeaId(quantitativeCriteria.get(i).getCriteriaId(), ideaId);
%>				
			  <tr class=" ">
			  	<td class="center-align"><%=i+1 %></td>
			     <td><%=quantitativeCriteria.get(i).getDescription() %></td>
			    <td class="center-align"> <span ><%=iEval.getScore() %></span>  <liferay-ui:message key="ims.points"/></td>
			    <td ><%=iEval.getMotivation() %></td>
			  </tr>
<%} %>
	  
			</tbody>
			
		</table>
		<div class="colspanTable compactRow">
			
			<div class="row">
				<div class="th col s12 l6 core-color color-1 weight-7 center"><liferay-ui:message key="ims.total-score"/></div>
				<div class="td col s12 l6 center"><p class="center"><%= evaluationScore%> <liferay-ui:message key="ims.points"/></p></div>
			</div>
			
			<div class="row">
				<div class="th col s12 l6 core-color color-1 weight-7 center"><liferay-ui:message key="ims.selection-result"/></div>
				<div class="td col s12 l6 selectionCol center">

						<div class="row selResult">
							<div class="col s12">
					     	<h6>
					     	
					     	<% if (finalMotivation.isEmpty()){ //should be never%> 
					     		<i class="material-icons ">thumb_up</i><i class="material-icons text-accent-3">thumb_down</i>&nbsp; <liferay-ui:message key="ims.to-evaluate"/>
					     	<% }else if (idea.getEvaluationPassed()){ %>
					     	<i class="material-icons light-green-text">thumb_up</i>&nbsp; <liferay-ui:message key="ims.accepted"/>
					     	<%}else{ %>
					     	<i class="material-icons deep-orange-text text-accent-3">thumb_down</i>&nbsp; <liferay-ui:message key="ims.rejected"/>
					     	<%} %>
					     	</h6>
							</div>
						</div>
				</div>
			</div>
			
			<div class="row">
				<div class="th col s12 core-color color-1">
					<h6 class="weight-7 center"><liferay-ui:message key="ims.final-comment"/></h6>
				</div>
				<div class="td col s12">
					<p>
						<%=finalMotivation %>
					</p>
				</div>
			</div>
			
		</div>
	</div>
</div>


    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect btn-flat"><liferay-ui:message key="close"/></a>
    </div>
  </div>
  
  
  
