<%@page import="it.eng.rspa.ideas.controlpanel.IdeaManagementSystemProperties"%>
<%@page import="com.liferay.portlet.documentlibrary.service.DLFolderLocalServiceUtil"%>
<%@page import="java.util.ArrayList"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.service.CLSCoworkerLocalServiceUtil"%>
<%@page import="com.liferay.portal.model.User"%>
<%@page import="java.util.List"%>
<%@page import="java.util.Iterator"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.model.CLSVmeProjects"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.service.CLSVmeProjectsLocalServiceUtil"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.service.CLSIdeaLocalServiceUtil"%>
<%@page import="it.eng.rspa.ideas.utils.ViewIdeaUtils"%>

<%
String pathPublicDocumentLibrary = themeDisplay.getPortalURL()
						+ themeDisplay.getPathContext() + "/documents/"
						+ idea.getGroupId() + StringPool.SLASH;

//Verifico se la sezione deve essere visualizzata 

String uuid_most_rated_screenshot = "";

try{
	uuid_most_rated_screenshot = ViewIdeaUtils.getMostRatedScreenshot(idea.getGroupId(), screenFolderId);
}
catch(Exception e){  

	System.out.println(" eccezione screenshot.jsp - uuid_most_rated_screenshot");

}

//language setting for VC URL
String lang = themeDisplay.getLanguageId();
if (lang.equals("en_GB"))
	lang="en_EN";
		
	lang="?lang="+lang;	

	
	Iterator<CLSVmeProjects> mashupsIt = mashups.iterator();
	
	List<CLSVmeProjects> mockups = ViewIdeaUtils.getMockups(idea.getIdeaID());
	Iterator<CLSVmeProjects> mockupsIt = mockups.iterator();
%>


<div class="css-class-wrapper-fake top-margin">

	<%if((screenFolderId>0)){ %>
		<div class="center " >	
			<img class="materialboxed tooltipped" id="bestMockup" src="<%=pathPublicDocumentLibrary+ViewIdeaUtils.getMostRatedScreenshot(idea.getGroupId(), screenFolderId)%>" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-best-screenshot"/>"/>
			<a class="btn-flat waves-effect waves-grey tooltipped" href="<%=screenshots.toString()%>" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-screenshot-link"/>">	
				<liferay-ui:message key="more"/>
			</a>
		</div>
	<%}%>
	
	
	<%if(ViewIdeaUtils.isAuthor(user, idea) || ViewIdeaUtils.isCoworker(user, idea)){ %>
	
	<div class="row">
			<div id="p_list" class="inline-block pj_vSection">
				<div class="col s12 m6">
					<div class="inline-block pj_vSection">
						
						<ul class="collection with-header VMEprojectsLists" id="mashups"">
					        <li class="collection-header"><h5><liferay-ui:message key="ims.mashup-list"/> <liferay-ui:icon-help message="ims.tip-mashup-list"/></h5></li>
					        <%while(mashupsIt.hasNext()){
								CLSVmeProjects m = mashupsIt.next();%>
								
					        	<li class="collection-item">
					        		<div><%=m.getVmeProjectName()%>
						        		<a href="<%=IdeaManagementSystemProperties.getProperty("vcAddress") %>user/project/<%=m.getVmeProjectId() %>/details<%=lang %>" class="secondary-content" target="_blank">
						        			<i class="material-icons">send</i>
						        		</a>
					        		</div>
					        	</li>
							<%} %>
				      	</ul>
					</div>
				</div>
				<div class="col s12 m6">	
					<div class="inline-block pj_vSection">
						
						<ul class="collection with-header VMEprojectsLists" id="mockups">
						 	<li class="collection-header"><h5><liferay-ui:message key="ims.mockup-list"/> <liferay-ui:icon-help message="ims.tip-mockup-list"/></h5></li>
							<%while(mockupsIt.hasNext()){
								CLSVmeProjects m = mockupsIt.next();%>
								
								<li class="collection-item">
					        		<div><%=m.getVmeProjectName()%>
						        		<a href="<%=IdeaManagementSystemProperties.getProperty("vcAddress") %>user/gui/<%=m.getVmeProjectId() %>/details<%=lang %>" class="secondary-content" target="_blank">
						        			<i class="material-icons">send</i>
						        		</a>
					        		</div>
					        	</li>
							<%} %>
						</ul>
					</div>
				</div>	
			</div>
	</div>
	
	<%}%>
</div>

