<!-- Suggested Ideas -->

<%@page import="it.eng.rspa.ideas.controlpanel.IdeaManagementSystemProperties"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.model.CLSIdea"%>


	<div class="section scrollspy" id="sezsuggested-idea">
			<h5 class="header"><liferay-ui:message key="ims.similar-ideas"/> <liferay-ui:icon-help message="ims.tip-suggested-idea"/></h5>
			<div class="divider"></div>	
			
			<%if(suggestedIdeas.size()!=0){ %>
						
				<ul class="collection">
			        <li class="collection-item"><liferay-ui:message key="ims.number-of-similar-ideas" /><span class="badge core-color color-1 white-text"><%=suggestedIdeas.size()%></span></li>
			  	</ul>
			  	
			<div id='tableIdeas' class="carousel carousel-slider">

			
				<% for ( int i=0; i< suggestedIdeas.size(); i++){
				
					CLSIdea ideaSuggerita = suggestedIdeas.get(i);
					String dataAggiunta = IdeasListUtils.getDateDDMMYYYYByIdeaId(ideaSuggerita.getIdeaID());
					String statoIdea =  MyUtils.getIdeaStatusI18n (ideaSuggerita.getIdeaStatus(), locale);
					String urlImgSugge = IdeasListUtils.getRepresentativeImgUrlByIdeaId(ideaSuggerita.getIdeaID(), request.getContextPath());
					String linkIdeaSugge = IdeaManagementSystemProperties.getFriendlyUrlIdeas(ideaSuggerita.getIdeaID());
				%>
				    
				    <div class="carousel-item" >
			          <div class="card mini-card">
				            <div class="card-content" style="background-image: url(<%=urlImgSugge%>);">
				           	  <a class="shadow-layer white-text" href="<%=linkIdeaSugge %>" target="_blank">
					              <span class="card-title weight-4"><%=ideaSuggerita.getIdeaTitle() %></span>
					              <div class="row">
					              	<div class="col s12">
						              <label><liferay-ui:message key="ims.creation-date"/></label>
						              <p title="<%= dataAggiunta %>"><%= dataAggiunta %></p>
						            </div>
						            <div class="col s12">
						              <label><liferay-ui:message key="ims.state"/></label>
									  <p title="<liferay-ui:message key="ims.state"/>: <%= statoIdea %>"><%= statoIdea %></p>
									</div>
								  </div>
					          </a>
				            </div>
				            <div class="card-action center">
								<a class="btn-flat core-color-text text-color-2" type="submit" href="<%=linkIdeaSugge %>" target="_blank">
									<liferay-ui:message key="ims.details"/>
								</a>
				            </div>
			          </div>
					</div> 
				    
			   <% }%> 
			   				
				<%
					if (suggestedIdeas.size() > 1){
				%>
            	<div class="carousel-fixed-item left">
			      <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="<liferay-ui:message key="previous"/>" href="javascript:$('#tableIdeas').carousel('prev');"><i class="material-icons medium left">navigate_before</i></a>
			    </div>
				<div class="carousel-fixed-item right">
			      <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="<liferay-ui:message key="next"/>" href="javascript:$('#tableIdeas').carousel('next');"><i class="material-icons medium right">navigate_next</i></a>
			    </div>
			    <% }%>
				   
			</div>
		 <% }else{%>
				<div id='tableIdeas' class="top-margin">
					<em>&emsp;<liferay-ui:message key="ims.no-idea"/></em>
				</div>
			<%} %>
		 
	</div>
	
<script>
	$(".card-action a").click(function(e) {
	   //do something
	   e.stopPropagation();
	})
</script>
	
<!-- END Suggested Ideas -->
