<%@page import="it.eng.rspa.ideas.challenges.servicelayer.model.CLSChallenge"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.service.CLSChallengeLocalServiceUtil"%>
<%@page import="it.eng.rspa.ideas.utils.IdeasListUtils"%>
<%@page import="it.eng.rspa.ideas.utils.ChallengesUtils"%>


<!-- Modal Structure -->
  <div id="modal-carousel-challenge" class="modal">
    <div class="modal-content">
      <h5>      
      	<liferay-ui:message arguments="<%=challenges.size() %>" key="ims.select-one-of-the-x-available-challenges" translateArguments="<%= false %>" />
     </h5> 
      
      <h6>(<liferay-ui:message key="ims.click-image"/>)</h6> 
      
		  <div class="carousel carousel-slider" data-indicators="true">
			<div class="carousel-fixed-item left">
		      <a class="tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-click-netx-challenge"/>" href="javascript:$('.carousel').carousel('prev');"><i class="material-icons medium left">navigate_before</i></a>
		    </div>
		    <div class="carousel-fixed-item right">
		      <a class="tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-click-netx-challenge"/>" href="javascript:$('.carousel').carousel('next');"><i class="material-icons medium right">navigate_next</i></a>
		    </div>

<%
for (int i =0; i< challenges.size(); i++){
	
	CLSChallenge clg = challenges.get(i);
	
	
	String representativeImgUrl = ChallengesUtils.getRepresentativeImgUrlByChallenge(clg, request.getContextPath());
%>		    
		   <div class="carousel-item" href="#<%=i%>!">
		          <div class="card" id="challenge<%=clg.getChallengeId()%>"  >
				    <div class="card-image waves-effect waves-block waves-light valign-wrapper tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-click-to-select-challenge"/>" data-tooltip1="<liferay-ui:message key="ims.tip-click-to-select-challenge"/>" data-tooltip2="<liferay-ui:message key="ims.tip-click-to-select-challenge-2"/>">
						<img class="" src="<%=representativeImgUrl%>">
				    </div>
				    <div class="card-content tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-click-to-see-more-details-challenge"/>">
				    	<span class="card-title activator grey-text text-darken-4">
				    		<i class="material-icons right" >more_vert</i>
				    	</span>
				      	<span class="card-title activator grey-text text-darken-4 truncate flow-text detailTitleSelected"><%=clg.getChallengeTitle()  %></span>
				    </div>
				    
					<div class="card-reveal"> 
						<span class="card-title grey-text text-darken-4 tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-close-details"/>"><i class="material-icons right">close</i><%=clg.getChallengeTitle()  %></span> 
						<div class="top-margin"></div> 
						
						<div class="row bottom-margin"> 
							<div class="col m6"><label><liferay-ui:message key="ims.submitted-by"/></label><%=ChallengesUtils.getAuthorNameByChallengeAndUser(clg, utenteCorrente)%></div> 
						</div>
						
						
						<div class="row bottom-margin"> 
							<div class="col m6"><label><liferay-ui:message key="start"/></label><%=MyUtils.getDateDDMMYYYYByDate(clg.getDateStart()) %></div> 
							<div class="col m6"><label><liferay-ui:message key="end"/></label><%=MyUtils.getDateDDMMYYYYByDate(clg.getDateEnd())  %></div> 
						</div> 
						<div class="divider bottom-margin"></div> 
						<div class="row bottom-margin"> 
							<p class="size-large">
								<%=clg.getChallengeDescription()  %>
							</p> 
						</div> 
					</div>
				  </div>
		    </div>
<% 					
}//end for
%>			    
		    
		 </div><!-- carousel carousel-slider -->

    </div>
    <div class="modal-footer">
      	<a id="modal-action-link-challenge" class="modal-action waves-effect btn-flat tooltipped disabled" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-click-to-associate-challenge"/>"><liferay-ui:message key="ims.link"/></a>
      	<a id="modal-action-cancel-challenge" class=" modal-action modal-close waves-effect btn-flat tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.click-to-close-the-popup-of-choice"/>"><liferay-ui:message key="cancel"/></a>
    </div>
  </div>
 
