
<!-- Modal Structure -->
  <%@page import="it.eng.rspa.ideas.challenges.servicelayer.model.CLSIdea"%>
<%@page import="it.eng.rspa.ideas.utils.IdeasListUtils"%>
<%@page import="it.eng.rspa.ideas.challenges.servicelayer.service.CLSIdeaLocalServiceUtil"%>


<div id="modal-carousel-need" class="modal">
    <div class="modal-content">
<!--       <h5><liferay-ui:message key="ims.choose-a-need"/></h5>  -->
	  <h5><liferay-ui:message arguments="<%=filteredNeeds.size() %>" key="ims.select-one-of-the-x-available-need-reports" translateArguments="<%= false %>" /></h5>
      <h6>(<liferay-ui:message key="ims.click-image"/>)</h6> 
      
		  <div class="carousel carousel-slider" data-indicators="true">
			<div class="carousel-fixed-item left">
		      <a class="tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-click-netx-need"/>" href="javascript:$('.carousel').carousel('prev');"><i class="material-icons medium left">navigate_before</i></a>
		    </div>
		    <div class="carousel-fixed-item right">
		      <a class="tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-click-netx-need"/>" href="javascript:$('.carousel').carousel('next');"><i class="material-icons medium right">navigate_next</i></a>
		    </div>
<% 					
for (int i =0; i< filteredNeeds.size(); i++){
	
	CLSIdea need = filteredNeeds.get(i);
	
	
	String representativeImgUrl =  IdeasListUtils.getRepresentativeImgUrlByIdeaId(need.getIdeaID() , request.getContextPath());
%>
		    
			   <div class="carousel-item" href="#<%=i%>!">
			          <div class="card" id="need<%=need.getIdeaID() %>"  >
					    <div class="card-image waves-effect waves-block waves-light valign-wrapper tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-click-to-select-need"/>" data-tooltip1="<liferay-ui:message key="ims.tip-click-to-select-need"/> data-tooltip2="<liferay-ui:message key="ims.tip-click-to-select-need-2"/>">
							<img class="" src="<%=representativeImgUrl%>">
					    </div>
					    <div class="card-content tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-click-to-see-more-details-need"/>">
					    	<span class="card-title activator grey-text text-darken-4 " >
					    		<i class="material-icons right" >more_vert</i>
					    	</span>
					      	<span class="card-title activator grey-text text-darken-4 truncate flow-text detailTitleSelected"><%=need.getIdeaTitle()  %></span>
					    </div>
					    
						<div class="card-reveal"> 
							<span class="card-title grey-text text-darken-4 tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-close-details"/>"><i class="material-icons right">close</i><%=need.getIdeaTitle() %></span> 
							<div class="top-margin"></div>  
							
							<div class="row bottom-margin"> 
								<div class="col m6"><label><liferay-ui:message key="ims.need-reported-to"/></label><%=IdeasListUtils.getMunicipalityOrganizationNameByIdea(need)%></div> 
							</div>
							
							
							<div class="divider bottom-margin"></div> 
							<div class="row bottom-margin"> 
								<p class="size-large">
								<%=need.getIdeaDescription() %>
								</p> 
							</div> 
						</div>
					  </div>
			    </div>
		    
<% 					
}//end for
%>			    
 		</div><!-- carousel carousel-slider -->

    </div>
    <div class="modal-footer">
      	<a id="modal-action-link-need" class="modal-action waves-effect btn-flat tooltipped disabled" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-click-to-associate-need"/>"><liferay-ui:message key="ims.link"/></a>
      	<a id="modal-action-cancel-need" class=" modal-action modal-close waves-effect btn-flat tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.click-to-close-the-popup-of-choice"/>"><liferay-ui:message key="cancel"/></a>
    </div>
</div>
 
