<!-- FIRST SECTION -->

<!-- SLIDE NEED -->


<div class="slideLeft" >

		<div class="slideTitle top-margin">
			<div class="center">
				<h5 class="hide-on-small-only weight-4 flow-text"><liferay-ui:message key="ims.need-creation"/></h5>
				<h5 class="hide-on-med-and-up"><liferay-ui:message key="ims.need-creation"/></h5>
			</div>
		</div>
		
		<div class="row slideContent">
			<div class="col s12 white z-depth-2">
		    	<div class="row question_slide">
					<div class="col s12 questions">
						<p class="question_text flow-text"><liferay-ui:message key="ims.hi"/> <%=currentUserFirstname %>, <br> 
							<liferay-ui:message key="ims.msg-before-begin-need-creation"/>
						</p>
					</div>
				</div>
			</div>
		</div>
		
<!-- Buttons -->
		<div class="slideButtons">
			<div class="nextStep">
	    		<a data-tipo="need" class="hide-on-med-and-down btnNext_start btn waves-effect waves-light core-color color-1 animated slideInLeft tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.start-creating-the-need"/>">
	    			<i class="material-icons right">arrow_downward</i>
	    			<liferay-ui:message key="start"/>
	    		</a>
	    		<a data-tipo="need" class="hide-on-large-only btnNext_start btn-floating btn-large waves-effect waves-light core-color color-1 tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.start-creating-the-need"/>">
	    			<i class="material-icons right">arrow_downward</i>
	    		</a>
	    	</div>

			<div class="nextStep">
	    		<a data-tipo="homeOIA" class="hide-on-med-and-down btnNext_left btn waves-effect waves-light core-color color-2 tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.go-back"/>">
	    			<i class="material-icons right">arrow_forward</i>
	    			<liferay-ui:message key="back"/>
	    		</a>
	    		<a data-tipo="homeOIA" class="hide-on-large-only btnNext_left btn-floating btn-large waves-effect waves-light core-color color-2 tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.go-back"/>">
	    			<i class="material-icons right">arrow_forward</i>
	    		</a>
	    	</div>
	   	</div>
</div>

