<!-- NEED -->

<%@page import="it.eng.rspa.ideas.utils.NeedUtils"%>
<div id="sectionContent-need" class="sectionContent animated fadeIn" >

		<div class="row">
			<div id="windowContent-need" class="col s12 m10 offset-m1">
				<!-- QUESTIONS -->
		    	<div class="questions white z-depth-2 col s12">
		    	
					<div id="question2-need" class="animatedObj">
						<p class="question_text flow-text"><%=currentUserFirstname %>, <liferay-ui:message key="ims.describe-your-need-in-a-few-words"/></p>
					</div>
					<div id="question3-need" class="animatedObj">
						<p class="question_text flow-text"><liferay-ui:message key="ims.what-is-the-title-of-your-need"/></p>
					</div>
					<div id="question4-need" class="animatedObj">
						<p class="question_text flow-text"><%=currentUserFirstname %>, <liferay-ui:message key="ims.choose-a-category-for-your-need"/><span>&nbsp;(<liferay-ui:message key="ims.at-least-one"/>)</span> <liferay-ui:icon-help message="ims.tip-categories-need-material"/></p>
					</div>
					<div id="question5-need" class="animatedObj">
						<p class="question_text flow-text"><liferay-ui:message key="ims.insert-any-keywords-to-associate-with-your-need"/><liferay-ui:icon-help message="ims.tip-need-tags"/></p>
					</div>
					<div id="question_last-need" class="">
						<p class="question_text flow-text subInfo" ><liferay-ui:message key="ims.ok"/> <%=currentUserFirstname %>, <liferay-ui:message key="ims.your-need-is-ready-to-be-published"/></p>
	 					<p class="subText center"><liferay-ui:message key="ims.how-do-you-want-to-proceed"/></p>
	 				</div>
				</div>
				
				<!-- RESPONSES -->
				
				<aui:form name="formNeed" method="POST" action="<%= updateIdeasURL.toString() %>" >
			
					<aui:model-context  model="<%=CLSIdea.class%>"></aui:model-context>
					<aui:input name="ideaId" type="hidden" value="-1"></aui:input>
					<aui:input name="groupid" type="hidden" value="<%=td.getCompanyGroupId()%>"/> 
					<aui:input name="challengeSelection" id="challengeSelection" type="hidden" value="-1"/> 
					<aui:input name="needSelection" id="needSelection" type="hidden" value="0"/> 
					<aui:input name="token" type="hidden" value="<%=uuid%>"/>
					<aui:input name="isWizard" type="hidden" value="true"/>
					<aui:input name="needReport" type="hidden" value="true"/>
					<aui:input name="challengeMunicType" type="hidden" value="challengeMunicTypeMunic"/>
					<aui:input name="municipalityOrganizationId" type="hidden" value="<%=NeedUtils.getMunicipalityOrganizationIdByUser(utenteCorrente) %>"/> 
					<aui:input name="languageChosen" type="hidden" value="<%=MyUtils.getDefaultAcronimLanguageByPilot(pilot) %>"/> 
					<aui:input name="assetTagNames" type="hidden" value=""/>
				
				
				    	<div class="responses  white z-depth-2 top-margin col s12">
							<div id="response2-need" class="animatedObj">
								<div class="input-field col s12">
								    <textarea id="<portlet:namespace/>needDescription" name="<portlet:namespace/>needDescription" class="validate materialize-textarea" length="5000"></textarea>
								    <label for="<portlet:namespace/>needDescription"><liferay-ui:message key="ims.description"/></label> 
								</div>
							</div>
							<div id="response3-need" class="animatedObj">
								<div class="input-field col s12">
			         				<input id="<portlet:namespace/>needTitle" name="<portlet:namespace/>needTitle" type="text" class="input_title validate" length="60" >
				          			<label for="<portlet:namespace/>needTitle"><liferay-ui:message key="ims.title"/></label> 
						        </div>
							</div>
							<div id="response4-need" class="animatedObj">
								<div class="input-field col s12">
									<%@ include file="/html/home/fullscrollpage/categoriesWizardNeed.jspf" %>
							    </div>
							</div>
							<div id="response5-need" class="animatedObj">
								<div class="input-field col s12">

									<%@ include file="/html/home/fullscrollpage/tagsWizard.jspf" %>
						        </div>
							</div>
							<div id="response_last-need" class="">
						          	<div class="conclusionMessage col s12">
										<div id="conclusionBtn-need" class="conclusionBtn">
											<a id="deleteBtn-need" class="waves-effect waves-light btn core-color color-3 tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.cancel-wizard"/>"><i class="material-icons left">delete</i><liferay-ui:message key="cancel"/></a>
											<a id="reloadBtn-need" class="waves-effect waves-light btn core-color color-2 tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.review-content-wizard-need"/>" href="#"><i class="material-icons left">refresh</i><liferay-ui:message key="review-content"/></a>
											<a id="sendBtn-need" class="waves-effect waves-light btn core-color color-1 tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.publish-your-need"/>" ><i class="material-icons left">send</i><liferay-ui:message key="publish"/></a>
										</div>
									</div>
							</div>
							
						</div>
				
			</aui:form>
			<!-- RESPONSES -->
			
			</div>
	    </div>
	   
</div>



<script>
$(document).ready(function() {
	//Inizialize the Title and Description input counter.
    $('input#titolo_name-need, textarea#textarea_descr-need').characterCounter();
    
    inizializeConclusionModal();
  });
</script>
