
<%@page import="it.eng.rspa.ideas.utils.MyConstants"%>

					     
	<div class="divider"></div>
	<div class="section row top-margin">
		
		<div class="col s12 m6 center">
			<c:choose>
			  <c:when test="<%=  ChallengesUtils.isOpenChallenge(challenge)  %>">
				      	     <span><i class="material-icons center fa-fw fa-lg ">lock_open</i> &nbsp; <liferay-ui:message key="ims.challenge-open"/></span> 
			  </c:when>
			  <c:when test="<%=  challenge.getChallengeStatus().equals(MyConstants.CHALLENGE_STATE_EVALUATION) %>">
				      	     <span><i class="material-icons center fa-fw fa-lg ">assessment</i> &nbsp; <liferay-ui:message key="ims.challenge-in-evaluation"/></span>
			  </c:when>
			  <c:when test="<%=  challenge.getChallengeStatus().equals(MyConstants.CHALLENGE_STATE_EVALUATED) %>">
				      	     <span><i class="material-icons center fa-fw fa-lg ">assignment</i> &nbsp; <liferay-ui:message key="ims.evaluated-challenge"/></span>
			  </c:when>
			     <c:otherwise> 
				      	     <span><i class="material-icons center fa-fw fa-lg ">lock</i> &nbsp; <liferay-ui:message key="ims.closed-challenge"/></span>
			    </c:otherwise>
			</c:choose><!-- challenge.getChallengeStatus().equals(MyConstants.CHALLENGE_STATE_CLOSED)-->
	     </div>
	
<!-- 	if he is the author and the challenge is still not evaluated -> criteria management + evaluation process-->
	<c:if test="<%= isAuthor &&   ChallengesUtils.isOpenChallenge(challenge)  %>">		
	     <div class="col s12 m6 center tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-manage-evaluation-criteria"/>">
	           <a class="waves-effec waves-light btn" href="<%=criteria.toString()%>"><i class="material-icons left">assignment</i><liferay-ui:message key="ims.evaluation-criteria"/></a>
	     </div>
    </c:if>
    
    <c:choose>
	  <c:when test="<%= isAuthor && challenge.getChallengeStatus().equals(MyConstants.CHALLENGE_STATE_EVALUATION) %>">		   
	     <div class="col s12 m6 center tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-evaluation-details"/>">
	           <a class="waves-effec waves-light btn" href="<%=scoreboard.toString()%>"><i class="material-icons left">list</i><liferay-ui:message key="ims.evaluation"/></a> 
	     </div>
					      
   	  </c:when>
   	  
   	  <c:when test="<%= ( ChallengesUtils.isOpenChallenge(challenge)  || challenge.getChallengeStatus().equals(MyConstants.CHALLENGE_STATE_EVALUATION)) %>">		   
	     <div class="col s12 m6 center tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-evaluation-details"/>">
	           <a class="waves-effec waves-light btn" href="<%=documentation.toString()%>"><i class="material-icons left">list</i><liferay-ui:message key="ims.evaluation"/></a> 
	     </div>	      
   	  </c:when>
	
	  <c:otherwise>		
	     <div class="col s12 m6 center tooltipped" data-position="top" data-delay="50" data-tooltip="<liferay-ui:message key="ims.tip-manage-evaluation-results"/>">
	           <a class="waves-effec waves-light btn" href="<%=scoreboard.toString()%>"><i class="material-icons left">list</i><liferay-ui:message key="ims.evaluation-results"/></a> 
	     </div>
					      
   	  </c:otherwise>
    </c:choose>

						      
 </div>
      					
