<%@page import="it.eng.rspa.ideas.challenges.servicelayer.service.NeedLinkedChallengeLocalServiceUtil"%>
<%@page import="it.eng.rspa.ideas.utils.MyUtils"%>
<%@page import="javax.portlet.WindowState"%>
<%@page import="java.text.DateFormat"%>
	
		

		
			<%
			List<CLSIdea> needs = NeedLinkedChallengeLocalServiceUtil.getNeedByChallengeId(challengeId)	;
			if (needs.size() > 0){
				%>
				
			<ul class="collection">
		        <li class="collection-item"><liferay-ui:message key="ims.number-of-need-reports" /><span class="badge core-color color-1 white-text"><%=needs.size()%></span></li>
		  	</ul>	
			
			<div id='tableNeeds' class="carousel carousel-slider">
				
			<%
			for (CLSIdea idea : needs) {
				
				String urlImgIdea = IdeasListUtils.getRepresentativeImgUrlByIdeaId(idea.getIdeaID(), request.getContextPath());
				String linkNeedLinked = IdeaManagementSystemProperties.getFriendlyUrlNeeds(idea.getIdeaID()); 
				String dateAdded = IdeasListUtils.getDateDDMMYYYYByIdeaId(idea.getIdeaID());
			%>

		        
		    	<div class="carousel-item" >
		          <div class="card mini-card">
			            <div class="card-content" style="background-image: url(<%=urlImgIdea%>);">
			           	  <a class="shadow-layer white-text" href="<%=linkNeedLinked %>">
				              <span class="card-title weight-4"><%=idea.getIdeaTitle() %></span>
			              		<div class="row">
					              	<div class="col s12">
						              <label><liferay-ui:message key="ims.creation-date"/></label>
						              <p title="<%=dateAdded%>"><%=dateAdded%></p>
						            </div>
						            <div class="col s12">
						              <label>&nbsp;</label>
									  <p title="">&nbsp;</p>
									</div>
								</div>
				          </a>
			            </div>
			            <div class="card-action center">
							<a class="btn-flat core-color-text text-color-2" type="submit" href="<%=linkNeedLinked %>" target="_blank">
								<liferay-ui:message key="ims.details"/>
							</a>
			            </div>
		          </div>
				</div> 
			<% }%>
			
			<%
				if (needs.size() > 1){
			%>
	           	<div class="carousel-fixed-item left">
			      <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="<liferay-ui:message key="previous"/>" href="javascript:$('#tableNeeds').carousel('prev');"><i class="material-icons medium left">navigate_before</i></a>
			    </div>
				<div class="carousel-fixed-item right">
			      <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="<liferay-ui:message key="next"/>" href="javascript:$('#tableNeeds').carousel('next');"><i class="material-icons medium right">navigate_next</i></a>
			    </div>
		    <% }%>
			
			</div>
			
				
			<%} else{%>
				<div id='tableIdeas' class="top-margin">
					<em>&emsp;<liferay-ui:message key="ims.no-need"/></em>
				</div>
			<%} %>
