<%@page import="com.liferay.portal.kernel.util.Validator"%>
<%@page import="it.eng.rspa.ideas.utils.MyUtils"%>
<%@page import="javax.portlet.WindowState"%>
<%@page import="java.text.DateFormat"%>
	
		
			<!-- Suggerisci Idea -->
			<%if(isChallengeWhichCanProposeIdeas ){%>
			
				<div class="center-align top-margin">
					
					<a class="waves-effect btn core-color color-2 tooltipped 
			  			<% if ( Validator.isNull(currentUser)) {%>
			  			
			  			disabled" data-tooltip="<liferay-ui:message key="ims.login-to-create-idea"/>"  
			  			
			  		<%	}else{	%>
			  			
			  			" href="<%=urlcreateIdeaWizardForChallenge %>" data-tooltip="<liferay-ui:message key="ims.tip-associate-idea-from-challenge"/>"
							
					<%	}	%>
							data-position="top" data-delay="50" target="_blank" >
			  				<span class="icon-lightbulb">&nbsp;</span><span class="hide-on-small-only"><liferay-ui:message key="ims.suggest-an-idea"/></span>
			  			</a>
					
				</div>	 
				
			<%} %>	
			<!-- FINE Suggerisci Idea -->
		
			<%
			if (ideas.size()> 0){
				%>
				
								
			<ul class="collection">
		        <li class="collection-item"><liferay-ui:message key="ims.number-of-proposed-ideas" /><span class="badge core-color color-1 white-text"><%=ideas.size()%></span></li>
		  	</ul>
			  	
			<div id='tableIdeas' class="carousel carousel-slider">
				
				<%
				for (CLSIdea idea : ideas) {
					
					String statoIdea =  MyUtils.getIdeaStatusI18n (idea.getIdeaStatus(), locale);
					String urlImgIdea = IdeasListUtils.getRepresentativeImgUrlByIdeaId(idea.getIdeaID(), request.getContextPath());
					String dataAggiunta = IdeasListUtils.getDateDDMMYYYYByIdeaId(idea.getIdeaID());
					String frUrlIdea = IdeaManagementSystemProperties.getFriendlyUrlIdeas(idea.getIdeaID());
				%>
			        
			    		<div class="carousel-item" >
						
					          <div class="card mini-card">
					            <div class="card-content" style="background-image: url(<%=urlImgIdea%>);">
					           	  <a class="shadow-layer white-text" href="<%=frUrlIdea %>" target="_blank">
						              <span class="card-title weight-4"><%= idea.getIdeaTitle()%></span>
						              <div class="row">
						              	<div class="col s12">
							              <label><liferay-ui:message key="ims.creation-date"/></label>
							              <p title="<%= dataAggiunta %>"><%= dataAggiunta %></p>
							            </div>
							            <div class="col s12">
							              <label><liferay-ui:message key="ims.state"/></label>
										  <p title="<liferay-ui:message key="ims.state"/>: <%= statoIdea %>"><%= statoIdea %></p>
										</div>
									  </div>
								  </a>
					            </div>
					            <div class="card-action center">
					            	<a class="btn-flat core-color-text text-color-2" type="submit" href="<%=frUrlIdea %>" target="_blank">
										<liferay-ui:message key="ims.details"/>
									</a>
					            </div>
					          </div>
					
						</div> 
					
				<% }%>
				
				<%
					if (ideas.size() > 1){
				%>
            	<div class="carousel-fixed-item left">
			      <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="<liferay-ui:message key="previous"/>" href="javascript:$('#tableIdeas').carousel('prev');"><i class="material-icons medium left">navigate_before</i></a>
			    </div>
				<div class="carousel-fixed-item right">
			      <a class="tooltipped" data-position="right" data-delay="50" data-tooltip="<liferay-ui:message key="next"/>" href="javascript:$('#tableIdeas').carousel('next');"><i class="material-icons medium right">navigate_next</i></a>
			    </div>
			    <% }%>
			</div>
			
				
			<%} else{%>
				<div id='tableIdeas' class="top-margin">
					<em>&emsp;<liferay-ui:message key="ims.no-idea"/></em>
				</div>
			<%} %>

			
<script>
	$(".card-action a").click(function(e) {
	   //do something
	   e.stopPropagation();
	})
</script>